In [1]:
# String Formatting

In [3]:
print("inject %s here." %'something')

inject something here.

In [10]:
# you should note that %r and repr() deliver the string representation of the object, 
# The %d operator converts numbers to integers first, without rounding. 
x, y, z = 'some', 'more', 3.75
print(" %d inject %s text here, and %r text here."%(z,x,y))

 3 inject some text here, and 'more' text here.

In [20]:
print('Floating point numbers: %10.4f' %(13.1443322))

Floating point numbers:    13.1443

In [21]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))

First: hi!, Second:  3.14, Third: 'bye!'

In [23]:
# Formatting with the .format() method
print('This is a string with an {}'.format('insert'))

This is a string with an insert

In [24]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

In [31]:
print('{0:<8} | {1:^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:->8}'.format(11,22,33))

Left     |  Center  | ...Right
11       |    22    | ------33

In [1]:
# Formatted String Literals (f-strings)

In [2]:
name = 'Fred'
print(f" He said his name is {name}")

 He said his name is Fred

In [3]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

## List

In [5]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [6]:
my_list = ['A string',23,100.232,'o']

In [7]:
len(my_list)

4

In [8]:
# Grab everything UP TO index 3
my_list[:3]

['A string', 23, 100.232]

In [9]:
my_list + ['new item']

['A string', 23, 100.232, 'o', 'new item']

In [10]:
# Make the list double
my_list * 2

['A string', 23, 100.232, 'o', 'A string', 23, 100.232, 'o']

In [15]:
# Create a new list
list1 = [1,2,3]
# Append
list1.append('append me!')
# Show
list1

[1, 2, 3, 'append me!']

In [16]:
# Pop off the 0 indexed item
list1.pop(0)
# Show
list1

[2, 3, 'append me!']

In [18]:
new_list = ['a','e','x','b','c']
# Use reverse to reverse order (this is permanent!)
new_list.reverse()
#
new_list

['c', 'b', 'x', 'e', 'a']

In [20]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [21]:
#

In [1]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [3]:
# List Comprehensions

In [4]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

# Dictionary

In [17]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [18]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [19]:
my_dict.values()

dict_values([123, [12, 23, 33], ['item0', 'item1', 'item2']])

In [20]:
my_dict.items()

dict_items([('key1', 123), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2'])])

In [21]:
# call values by their key 
my_dict['key1']

123

In [22]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [23]:
# call values by their key 
my_dict['key1']

0

In [24]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [25]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [26]:
# Nesting with Dictionaries

In [27]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [28]:
d['key1']['nestkey']['subnestkey']

'value'

# Tuples

In [29]:
# Create a tuple
t = (1,2,3)

In [30]:
# Check len just like a list
len(t)

3

In [31]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [32]:
# Use indexing just like we did in lists
t[0]

'one'

In [33]:
# Use .index to enter a value and return the index
t.index('one')

0

In [34]:
# Use .count to count the number of times a value appears
t.count('one')

1

# Sets

In [35]:
x = set()

In [37]:
# We add to sets with the add() method
x.add(1)
#Show
x

{1}

In [39]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

In [40]:
# Booleans

In [41]:
# Set object to be a boolean
a = True
#Show
a

True

In [42]:
# Output is boolean
1 > 2

False

In [44]:
# None placeholder
b = None
# Show
print(b)

None