In [36]:
#  Functions
from random import shuffle

In [6]:
def greeting(name):
    return (f'Hello {name}')

greeting('kishan')

'Hello kishan'

In [7]:
def add_num(num1,num2):
    return num1+num2

add_num(5,5)

10

In [8]:
20 % 2 == 0

True

In [9]:
def even_check(number):
    return number % 2 == 0

even_check(20)

True

In [20]:
def check_even(num_list):
    
    even_number = []
    odd_number = []
    other = []
    
    for num in num_list:
        if num % 2 == 0:
            even_number.append(num)
        elif num % 2 != 0:
            odd_number.append(num)
        else:
            other.append(num)           
    return even_number, odd_number, other, len(even_number)

check_even([1,2,3])

([2], [1, 3], [], 1)

In [22]:
# Returning Tuples for Unpacking

In [25]:
stock_prices = [('AAPL',200),('GOOG',300),('MSFT',400)]

for stock, price in stock_prices:
    print(stock)

AAPL
GOOG
MSFT

In [28]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

def employee_check(work_hours):
    
    current_max = 0
    employee_check = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_check = employee
        else:
            pass
        
    return (employee_check, current_max)

employee_check(work_hours)

('Cassie', 800)

In [30]:
# Game
mylist = [' ','O',' ']

In [32]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [33]:
def player_guess():
    guess = ''
    while guess not in ['0', '1','2']:
        guess = input("pick a number: 0,1 or 2 :  ")
        return int(guess)

In [34]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("Correct")
    else:
        print('Wrong')
        print(mylist)

In [37]:
mylist = [' ','O',' ']
mix = shuffle_list(mylist)
guess = player_guess()
check_guess(mix, guess)

pick a number: 0,1 or 2 :   0

Wrong
[' ', ' ', 'O']

In [38]:
# Lambda Expressions, Map, and Filter

In [39]:
my_nums = [1,2,3,4,5]

In [45]:
def square(num):
    return num**2

list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [46]:
mynames = ['John','Cindy','Sarah','Kelly','Mike']

def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]
    
list(map(splicer, mynames))

['even', 'C', 'S', 'K', 'even']

In [47]:
# filter function

In [49]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

def check_even(num):
    return num % 2==0

list(filter(check_even, nums))

[0, 2, 4, 6, 8, 10]

In [50]:
# lambda expression

In [51]:
def square(num):
    return num**2
square(2)

4

In [52]:
square = lambda num : num**2
square(2)

4

In [54]:
#

In [55]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [56]:
list(map(lambda n:n%2==0 ,nums))

[True, False, True, False, True, False, True, False, True, False, True]

In [57]:
list(map(lambda n:n**2 ,nums))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
list(filter(lambda n:n%2==0,nums))

[0, 2, 4, 6, 8, 10]

In [60]:
#

In [61]:
s = 'string'

In [68]:
# Lambda expression for grabbing the first character of a string
lambda s: s[0]

In [67]:
# Lambda expression for reversing a string
lambda s:s[::-1]

In [69]:
lambda x,y : x + y

In [70]:
# Nested Statements and Scope

In [72]:
x = 25 

def printer():
    x = 50
    return x

print(x)
print(printer())

25
50

In [74]:
# LEGB Rule:

#built-in
#global
#enclosing functions
#local

In [77]:
#global
name =  'global'

def greet():
    #enclosing functions
    name =  'enclosing'
    
    def hello():
        # name = 'local'
        print('Hello ' + name)
    hello()
        
greet()

Hello enclosing

In [81]:
x = 50 

def func(x):
    print(x)
    x = 10
    print('cahnge ', x )
    
func(x)
print(x)

50
cahnge  10
50

In [82]:
x = 50

def func():
    global x 
    print(x)
    x = 10
    print('change ', x )
    
func()
print(x)

50
change  10
10

In [83]:
#  *args and **kwargs

In [87]:
def myfunc(a,b):
    return sum((a,b))*0.5

myfunc(40,60)

50.0

In [91]:
def myfunc(*args):
    return sum(args)*0.5

myfunc(10, 20, 30, 40)

50.0

In [96]:
def myfunc(**kwargs):
    if 'name' in kwargs:
        print(f"my name is {kwargs['name']}")
    else:
        print('no name')
        
myfunc(name='Kishan')
myfunc(age = '32')

my name is Kishan
no name

In [97]:
#

In [106]:
def myfunc(*args, **kwargs):
    if 'name' and 'speed' in kwargs:
        print(f"Speed  are {args} and my best speed is {kwargs['speed']}")
        print(f"my name is {kwargs['name']}")
    else:
        print('no match')
        

myfunc(20, 30, 50, 80, 90, name='kishan', age=20, speed=50)

Speed  are (20, 30, 50, 80, 90) and my best speed is 50
my name is kishan