In [2]:
# addition 
2+1

3

In [4]:
# substraction
2-1

1

In [5]:
# multiplication 
2*2

4

In [9]:
# division 
9/4

2.25

In [10]:
# Floor Division
9//4

2

In [12]:
# Modulo -->  remainder after division
9%4

1

In [15]:
# power
2**3

8

In [19]:
# Order of Operations followed in Python :  PEMDAS
#  P – Parentheses
#  E – Exponentiation
#  M – Multiplication
#  D – Division
#  A – Addition
#  S – Subtraction

2 + 10 * 10 + 3

105

In [20]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

In [21]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [23]:
# Find the Tax
my_income = 100
tax_rate = 0.1
my_taxes = my_income*tax_rate
# Show my taxes!
print(my_taxes)

10.0

In [28]:
# Python uses dynamic typing, 
# meaning you can reassign variables to different data types.
my_dogs = 2
print(type(my_dogs))
my_dogs = ['Sammy', 'Frankie']
print(type(my_dogs))

<class 'int'>
<class 'list'>

In [30]:
a = 10
print(a)
a += 10
print(a)
a *= 2
print(a)

10
20
40

In [33]:
# Determining variable type with type()
# You can check what type of object is assigned to a variable using Python's built-in type() function. 
# Common data types include:

# int (for integer)
# float
# str (for string)
# list
# tuple
# dict (for dictionary)
# set
# bool (for Boolean True/False)

In [36]:
# strings
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [37]:
# print
print('Use \n to print a new line')

Use
 to print a new line

In [38]:
# len
len('Hello World')

11

In [68]:
# Assign s as a string
s = 'Hello World'
#Check
s

'Hello World'

In [46]:
# Let's start indexing!
s[1:7]

'ello W'

In [48]:
# Last letter 
s[-1]

'd'

In [53]:
# Grab everything up to index 5
s[:5]

'Hello'

In [54]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [57]:
# Grab everything, but go in steps size of 2
s[::2]

'HloWrd'

In [58]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [60]:
# It's important to note that strings have an important property known as *immutability*. 
# This means that once a string is created, the elements within it can not be changed or replaced.
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [69]:
# We can reassign s completely 
s = s + ' concatenate me!'

print(s)

Hello World concatenate me!

In [70]:
letter = 'z'
letter*10

'zzzzzzzzzz'

In [71]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [72]:
# Lower case
s.lower()

'hello world concatenate me!'

In [77]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [74]:
# Split by a specific element
s.split('W')

['Hello ', 'orld concatenate me!']

In [78]:
'Insert another string: {}'.format('inserted string')

'Insert another string: inserted string'